* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* MENU DE NAVEGACIÓN */

.Encabezado {
    height:70px;
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto; 
    align-items: center;
    padding: 20px;
}

.Encabezado img {
    width: 90px;
    height: 90px;
    margin-top: 5px;   /*posible desnivel*/
    margin-right: 10px;
}

.menu {
    margin-right: 18px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.styled-link {
    margin-left: 15px;
    color: #000000;
    text-decoration: none;
    padding: 5px 0;
    transition: color 0.3s ease;
}

.styled-link::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #d49cdb;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}


.styled-link:hover {
    color: #bb6cc5;
}

.boton {
    background-color: #bb6cc5;
    margin-left: 15px;   
    border-radius: 20px;
    padding: 8px 16px;
    transition: all 0.3s ease;
    border: none;
}

.boton a {
    color: white;
    text-decoration: none;
}

.boton:hover {
  background-color: #d49cdb;  
  color: #e0e0e0;   
  border-bottom: none;          
}

/*CONTENDEDOR CON PRESENTACIÓN*/

.contenedor {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-bottom: 70px;
}

.contenedor img {
  width: 650px;
  height: 650px;
}

.texto {
  max-width: 400px;
  font-size: 18px;
  color: #333;
  margin-bottom: 80px;
}


/*RESPONSIVE*/

 @media (max-width: 768px) {
            .Encabezado {
        flex-direction: column;
        padding: 10px;
    }
    
    .menu {
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        margin-top: 15px;
    }
    
    .menu a.styled-link {
        padding: 5px 10px;
    }
    
    .menu .boton {
        margin-top: 10px;
    }
}

.foto {
    margin-left: 50px;
}

